<a href="https://colab.research.google.com/github/jhonoratoc/cursos-alura/blob/main/F01C03_Python_para_Data_Science_Fun%C3%A7%C3%B5es%2C_Pacotes_e_Pandas_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=navyblue> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=gray> 1. INTRODUÇÃO AO PYTHON
---

## 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

## 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [ ]:
! python -V

Python 3.7.10

## 1.3 Trabalhando com dados

In [ ]:
## um trechinho de pandas

import pandas as pd

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset

## note que nem todas as linhas foram mostradas
## para fazer com que todas as linhas sejam mostradas:

## import pandas as pd
## pd.set_option('display.max_rows', 1000)          (esse 1000 é o número de linhas a serem mostradas, você escolhe)
## pd.set_option('display.max_columns', 1000)          (esse 1000 é o número de colunas a serem mostradas, você escolhe)   [para colunas]

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [ ]:
dataset.dtypes

## os tipos de dados em cada coluna do dataframe utilizado

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
## estatística descritiva para algumas colunas do meu dataframe

dataset[['Quilometragem', 'Valor']].describe()

## média, desvio padrão, máximo, mínimo, etc

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
## algumas informações sobre o dataframe

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=gray> 2. TRABALHANDO COM TUPLAS
---

## 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
()

## criando uma tupla vazia

()

In [ ]:
1,2,3

## criando uma tupla com os valores acima

(1, 2, 3)

In [ ]:
nome = 'Passat'
valor =  153000

nome,valor

## criando tupla com variáveis (pode colocar com ou sem parênteses, vai virar uma tupla do mesmo jeito)

('Passat', 153000)

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

## criando uma tupla com base numa lista utilizando a função tuple()

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nomes_carros)

## variável do tipo tuple

tuple

In [ ]:
## criando tuplas com base numa lista salva numa variável

lista1 = [1,2,3,4,5,6,7]
tuple(lista1)

(1, 2, 3, 4, 5, 6, 7)

## 2.2 Seleções em tuplas

In [ ]:
nomes_carros[0]  ## a seleção é feita da mesma forma que em listas e arrays

'Jetta Variant'

In [ ]:
nomes_carros[-1]

'DS5'

In [ ]:
nomes_carros[1:3]  ## slice do 1 ao 2

('Passat', 'Crossfox')

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

## tupla com tupla dentro

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros[-1][1]

'Gol'

## 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in nomes_carros:
  print(item)

## usando for para printar os elementos da tupla

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [ ]:
## atribuindo cada elemento da tupla a uma variável

nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros
carro_1

## a tupla foi desempacotada em variáveis individuais

'Jetta Variant'

In [ ]:
## e se eu quiser atribuir variáveis a apenas alguns dos elementos da tupla?
## coloco um underline(_) para cada elemento da tupla que eu quiser ignorar

## vamos supor que eu queira apenas o Passat e o DS5

_, A, _, B = nomes_carros

A

'Passat'

In [ ]:
## e se eu quiser só o Passat?
## *_ para ignorar todos os elementos seguintes

_, C, *_ = nomes_carros

C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
## a função zip() juntas os elementos das listas em tuplas
## neste caso, juntou elementos de 'carros' e de 'valores' e criou tuplas com dois elementos, juntando cada carro com seu valor

zip(carros, valores)

In [ ]:
## vamos ver a lista zipada

list(zip(carros, valores))

## se eu colocar só zip(carros, valores), não vai rolar; pra mostrar, tem que tranformar numa lista com todas as tuplas
## 4 elementos com 2 itens em cada

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(carros, valores):
  print(item)

## agora temos 4 tuplas, cada uma com um carro e seu respectivo valor

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
## tanto o for quanto o print aceitam mais de uma variável

for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
## fazer um if para imprimir apenas os carros com valores acima de 100 mil

for carro, valor in zip(carros, valores):
  if valor>100000:
    print(carro)

Passat
DS5

# <font color=gray> 3. TRABALHANDO COM DICIONÁRIOS
---

## 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
## qual é o índice de 'Passat' na lista carros?]
## se eu quiser saber automaticamente, posso usar carros.index('Passat')

carros.index('Passat')

1

In [ ]:
## e qual o valor correspondente ao Passat?
## pra fazer isso, eu teria que buscar o valor de mesmo índice do Passat
## valores[carros.index('Passat')]

valores[carros.index('Passat')]

106161.94

In [ ]:
## uma forma mais fácil de unir carros e valores de forma mais intuitiva é criando um dicionário

## criando manualmente:

dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}  ## usando chaves
dados

## é meio chato de fazer na mão; existem outras formas mais fáceis para fazer um dicionário

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
type(dados)

dict

### Criando dicionários com *zip()*

In [ ]:
## usar o zip é uma forma bem mais fácil de criar um dicionário

list(zip(carros,valores))

## zipei as duas listas, associando o carro ao seu valor

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
## para transformar em dicionário: dict()

dict(zip(carros,valores))

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

## 3.2 Operações com dicionários

### *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
dados['Passat']  ## dados[key]   --->>>  value

106161.94

### *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
'Passat' in dados  ## 'Passat' está no dicionário dados? Sim   --->>> True

True

In [ ]:
'Fusca' in dados  ## 'Fusca' está no dicionário dados? Não   --->>> False

False

In [ ]:
'Fusca' not in dados

True

### *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
## qual é o tamanho do meu dicionário? não é o número total de elementos (key+value)
## len(dados) dá o número de pares de valores key-value

len(dados)

3

### *dict[ key ] = value*

Inclui um item ao dicionário.

In [ ]:
## dicionários podem ser modificados e itens podem ser adicionados
## para isso, devemos definir key e value para o dicionário

dados['DS5']=124549.07

In [ ]:
dados

## agora com o novo par de dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

### *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
## para remover um par de dados do dicionário, usaremos del dados['DS5']
## não é necessário colocar o value; colocando apenas a key já deleta

del dados['Passat']

In [ ]:
dados

## agora sem o Passat

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

## 3.3 Métodos de dicionários

https://docs.python.org/3.6/tutorial/datastructures.html#dictionaries

https://docs.python.org/3.6/library/stdtypes.html#dict

### *dict.update()*

Atualiza o dicionário.

In [ ]:
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [ ]:
dados.update({'Passat': 106161.94})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [ ]:
## dá pra atualizar um dado que já existe e adicionar outro dado também

dados.update({'Passat': 106161.95, 'Fusca': 150000})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

### *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
dados_copia = dados.copy()
dados_copia

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
del dados_copia['Fusca']

In [ ]:
dados_copia

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

### *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dados_copia.pop('Passat')

106161.95

In [ ]:
dados_copia

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [ ]:
## já retirei o Passat; o que vai acontecer se eu tentar retirar de novo?
## eu posso colocar uma mensagem para ser impressa caso não seja encontrado o Passat

dados_copia.pop('Passat', 'Chave não encontrada')

## caso a chave não seja encontrada, imprima 'Chave não encontrada'

'Chave não encontrada'

In [ ]:
dados_copia.pop('DS5', 'Chave não encontrada')

124549.07

### *dict.clear()*

Remove todos os itens do dicionário.

In [ ]:
## vamos limpar o que sobrou do dados_copia

dados_copia.clear()

## 3.4 Iterando em dicionários

### *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dados.keys()  ## estas são as keys do dicionário dados

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [ ]:
## pode ser usado como iterador em um for

for key in dados.keys():
  print(dados[key])

88078.64
72832.16
124549.07
106161.95
150000

### *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dados.values()

dict_values([88078.64, 72832.16, 124549.07, 106161.95, 150000])

### *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
dados.items()  ## o comando quebra o dicionário em tuplas; cada par key-value vira uma tupla

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 124549.07), ('Passat', 106161.95), ('Fusca', 150000)])

In [ ]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 124549.07)
('Passat', 106161.95)
('Fusca', 150000)

In [ ]:
## podemos desempacotar as tuplas

for key, value in dados.items():
  print(key, value)

Jetta Variant 88078.64
Crossfox 72832.16
DS5 124549.07
Passat 106161.95
Fusca 150000

In [ ]:
## podemos usar uma condição para printar as chaves

for key, value in dados.items():
  if (value>100000):
    print(key)

DS5
Passat
Fusca

# <font color=gray> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

## 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
## como somar todos os valores desse dicionário?
## uma possibilidade:

soma = 0
for valor in dados.values():
  soma += valor
soma

267072.74

In [ ]:
## uma forma mais fácil usando uma built-in function: sum()
## só pegar o dados.values() e colocar dentro da soma

sum(dados.values())

267072.74

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
## também serve como help, basta colocar a função e uma interrogação

sum?

## 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [ ]:
## função sem parâmetro (e sem input, nesse caso)

def media():
  valor = (1+2+3)/3
  print(valor)

media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [ ]:
## mesma função, mas agora com parâmetros

def media(n1, n2, n3):
  valor = (n1+n2+n3)/3
  print(valor)

media(1,2,3)

2.0

In [ ]:
## usando uma lista como input

def media(lista):
  valor = sum(lista)/len(lista)
  print(valor)

media([1,2,3,4,5,6,7,8,9,9,8,9,5,5,9,4,2,6,5,8,1,5,4])

5.434782608695652

In [ ]:
## e se eu quiser usar esse resultado pra outras operações?
## bastaria salvar numa variável, correto?

resultado = media([1,2,3,4,5,6,7,8,9,9,8,9,5,5,9,4,2,6,5,8,1,5,4])

5.434782608695652

In [ ]:
resultado

## opa, por que não apareceu nada? eu não acabei de atribuir um valor a essa variável?

In [ ]:
type(resultado)

## resultado é uma variável do tipo NoneType; a função não retorna um valor, ela só printa um número

NoneType

## 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return valor  ## só usar o return em vez do print para que a função retorne um valor, não apenas printe

media([1,2,3,4,5,6,7,8,9,9,8,9,5,5,9,4,2,6,5,8,1,5,4])

5.434782608695652

In [ ]:
resultado = media([1,2,3,4,5,6,7,8,9,9,8,9,5,5,9,4,2,6,5,8,1,5,4])

In [ ]:
resultado ## agora sim a função retorna um valor

5.434782608695652

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
## dá pra fazer a função retornar mais de um valor?

def media(lista):
  valor = sum(lista)/len(lista)
  return (valor, len(lista))  ## dessa vez, a função retornará dois valores: a média e o número de elementos da lista

media([1,2,3,4,5,6,7,8,9,9,8,9,5,5,9,4,2,6,5,8,1,5,4])

## os valores retornados virão em forma de tupla

(5.434782608695652, 23)

# <font color=gray> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

## 5.1 Estruturas de dados

In [ ]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [ ]:
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
## não precisa colocar o index nesse caso, ele já obedece a numeração padrão do python

pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

## cada item da lista é um dicionário, cada dicionário corresponde a uma linha do dataframe
## nesse caso, não há a necessidade de colocar index e columns

In [ ]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [ ]:
## se eu quiser mudar a ordem das colunas do dataframe:

dataset[['Nome', 'Ano', 'Motor', 'Quilometragem', 'Zero_km', 'Valor']]

## troquei Ano por Motor (não muda na versão original, só se eu atribuir à mesma variável)

            Nome   Ano            Motor  Quilometragem  Zero_km      Valor
0  Jetta Variant  2003  Motor 4.0 Turbo        44410.0    False   88078.64
1         Passat  1991     Motor Diesel         5712.0    False  106161.94
2       Crossfox  1990  Motor Diesel V8        37123.0    False   72832.16

In [ ]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
## funciona da mesma forma que a mostrada anteriormente

dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [ ]:
## importando o arquivo da aula com pd.read_csv('nome_do_arquivo', sep = 'separador')

dataset = pd.read_csv('db.csv', sep = ';', index_col = 0) ## se eu quiser que a coluna 0 (Nome) substitua os índices numéricos
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

## 5.2 Seleções com DataFrames

In [ ]:
dataset.head()  ## mostra as cinco primeiras linhas do dataframe

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

### Selecionando colunas

In [ ]:
## selecionando apenas a coluna 'Valor', por exemplo (e o índice vem junto)

dataset[ 'Valor']  ## uma coluna de um dataframe é uma serie

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [ ]:
type(dataset[ 'Valor'])  ## retorna uma SERIE

pandas.core.series.Series

In [ ]:
dataset[[ 'Valor']]  ## duplo colchete retorna um dataframe, mesmo tendo uma única coluna selecionada

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [ ]:
type(dataset[[ 'Valor']])  ## retorna um DATAFRAME

pandas.core.frame.DataFrame

In [ ]:
## e se eu quiser selecionar mais de uma coluna? colchete dentro de colchete e chama as duas colunas

dataset[['Motor', 'Valor']] ## retorna um dataframe, não uma serie

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [ ]:
dataset[:4]  ## retorna as quatro primeiras linhas do dataframe

                         Motor  ...      Valor
Nome                            ...
Jetta Variant  Motor 4.0 Turbo  ...   88078.64
Passat            Motor Diesel  ...  106161.94
Crossfox       Motor Diesel V8  ...   72832.16
DS5            Motor 2.4 Turbo  ...  124549.07

[4 rows x 6 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [ ]:
dataset.loc['Passat']  ## use o índice da linha para filtrar; como o índice numérico foi substituído pela primeira coluna 'Nome', use o nome

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [ ]:
dataset.loc[['Passat', 'DS5']]  ## retornando mais de uma linha

                  Motor  ...      Valor
Nome                     ...
Passat     Motor Diesel  ...  106161.94
DS5     Motor 2.4 Turbo  ...  124549.07

[2 rows x 6 columns]

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]  ## retornando linhas e colunas
## seguindo a ordem dataset.loc[[linhas],[colunas]]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [ ]:
dataset.iloc[:4, :3]  ## até a 4ª linha, até a 3ª coluna

                         Motor   Ano  Quilometragem
Nome
Jetta Variant  Motor 4.0 Turbo  2003        44410.0
Passat            Motor Diesel  1991         5712.0
Crossfox       Motor Diesel V8  1990        37123.0
DS5            Motor 2.4 Turbo  2019            NaN

In [ ]:
dataset.iloc[:4, [0,5,2]]  ## até a 4ª linha, colunas 0, 5 e 2 (na ordem)

                         Motor      Valor  Quilometragem
Nome
Jetta Variant  Motor 4.0 Turbo   88078.64        44410.0
Passat            Motor Diesel  106161.94         5712.0
Crossfox       Motor Diesel V8   72832.16        37123.0
DS5            Motor 2.4 Turbo  124549.07            NaN

In [ ]:
dataset.iloc[:, [0,5,2]]  ## todas as linhas, só essas colunas

                                       Motor      Valor  Quilometragem
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64        44410.0
Passat                          Motor Diesel  106161.94         5712.0
Crossfox                     Motor Diesel V8   72832.16        37123.0
DS5                          Motor 2.4 Turbo  124549.07            NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10        25757.0
...                                      ...        ...            ...
Phantom 2013                        Motor V8   51759.58        27505.0
Cadillac Ciel concept               Motor V8   51667.06        29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03        52637.0
Aston Martin DB5                Motor Diesel  122110.90         7685.0
Macan                        Motor Diesel V6   90381.47        50188.0

[258 rows x 3 columns]

## 5.3 Queries com DataFrames

In [ ]:
## UMA FORMA MENOS ELEGANTE DE FAZER

dataset.Motor  ## series contendo os dados de Motor para cada índice

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [ ]:
dataset.Motor == 'Motor Diesel'  ## series booleana com base na condição apresentada

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [ ]:
## UM PARÂMETRO

dataset[dataset.Motor == 'Motor Diesel']  ## outra forma de fazer a query para consultar os carros movidos a diesel

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [ ]:
## DOIS PARÂMETROS
## motor diesel e zero km

dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

### Utilizando o método query

In [ ]:
## UM PARÂMETRO
## usando a query para filtrar os carros movidos a diesel

dataset.query("Motor == 'Motor Diesel'")

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [ ]:
## DOIS PARÂMETROS
## filtrando os carros com motor diesel e com valor de venda acima de 100 mil

dataset.query("Motor == 'Motor Diesel' & Valor > 100000")

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Kangoo Express         Motor Diesel  ...  146716.91
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
Sandero                Motor Diesel  ...  112350.61
Dodge Dakota           Motor Diesel  ...  141083.35
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[15 rows x 6 columns]

In [ ]:
## TRÊS PARÂMETROS
## filtrando os carros com motor diesel, criados depois de 2000 e zero km

dataset.query("Motor == 'Motor Diesel' & Valor > 100000 & Zero_km == True")

                    Motor  ...      Valor
Nome                       ...
Cielo Hatch  Motor Diesel  ...  145197.70
Camry        Motor Diesel  ...  138597.27

[2 rows x 6 columns]

## 5.4 Iterando com DataFrames

In [ ]:
## é uma forma meio burra, deixa pra lá
## qualquer coisa eu volto na aula e vejo

## 5.5 Tratamento de dados

In [ ]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [ ]:
dataset.info()

## note que algumas variáveis possuem valores nulos (quilometragem, por exemplo)

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 22.3+ KB

In [ ]:
## podemos construir uma Serie booleana para identificar se o item é nulo ou não

dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [ ]:
dataset[dataset.Quilometragem.isna()]

## avaliando melhor, nota-se que os veículos com NaN na quilometragem são zero km

                                Motor  ...      Valor
Nome                                   ...
DS5                   Motor 2.4 Turbo  ...  124549.07
A5                    Motor 4.0 Turbo  ...   56445.20
J5                           Motor V6  ...   53183.38
A3                       Motor 1.0 8v  ...   88552.39
Série 1 M                    Motor V8  ...   94564.40
...                               ...  ...        ...
Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86
Benni Mini                   Motor V8  ...  126247.84
Uno                   Motor Diesel V6  ...  128852.21
Santa Fe                Motor 3.0 32v  ...  129415.33
XC60                  Motor 4.0 Turbo  ...   77675.79

[61 rows x 6 columns]

In [ ]:
## podemos substituir os NaN por zero, transformando um valor not a number em um número

dataset.fillna(0)

## resolvido?

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

In [ ]:
dataset

## os valores NaN continuam lá; a função acima gerou apenas a visualização, sem necessariamente substituir

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

In [ ]:
## como resolver isso? adicionando um parâmetro no fillna
## inplace = True garante que a substituição seja feita diretamente no dataframe utilizado

dataset.fillna(0, inplace=True)
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

In [ ]:
dataset.query("Zero_km == True")

                                Motor  ...      Valor
Nome                                   ...
DS5                   Motor 2.4 Turbo  ...  124549.07
A5                    Motor 4.0 Turbo  ...   56445.20
J5                           Motor V6  ...   53183.38
A3                       Motor 1.0 8v  ...   88552.39
Série 1 M                    Motor V8  ...   94564.40
...                               ...  ...        ...
Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86
Benni Mini                   Motor V8  ...  126247.84
Uno                   Motor Diesel V6  ...  128852.21
Santa Fe                Motor 3.0 32v  ...  129415.33
XC60                  Motor 4.0 Turbo  ...   77675.79

[61 rows x 6 columns]

In [ ]:
## vamos ver outra coisa:
## importemos novamente o dataset, visto que o importado anteriormente já foi modificado com a substituição dos NaN por zero

dataset = pd.read_csv('db.csv', sep = ';')
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [ ]:
## e se eu quiser eliminar os itens com NaN?

dataset.dropna(subset = ['Quilometragem'], inplace = True)
dataset

## subset = 'Quilometragem' para determinar a coluna onde estão localizados os itens com NaN a serem eliminados
## inplace = True para que essa modificação seja aplicada ao dataset e fique salva

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]